* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-size: 18px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 173, 22);
    height: 65px;
    color: white;
}

.content {
    padding: 40px;
    background-color:gold;
    height: 600px;
    display: flex;
    margin-right: 200px;
    margin-left: 200px;
}

.image {
    background-color: rgb(220, 187, 0);
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(255, 225, 54);
}